.container {
  align-items: center;
  justify-content: center;
  display: flex;
}
.grand {
  background-color: #292929;
  width: 30rem;
  height: auto;
  margin-top: 5em;
}
.navbar {
  background-color: antiquewhite;
}
.input_div {
  margin: 0 2em 2em 2em;
}
.input_1 {
  float: right;
  padding: 1em;
}
.input_2 {
  float: left;
  padding: 1em;
}
.label_div {
  margin: 2em 2em 0 2em;
}
.scroll_bar {
  margin: 4em 0 0px 2em;
}
