.container {
  align-items: center;
  justify-content: center;
  display: flex;
}
.grand {
  background-color: #292929;
  width: 30rem;
  height: auto;
  margin-top: 5em;
}
.navbar {
  background-color: antiquewhite;
}
.input_div {
  margin: 0 2em 2em 2em;
}
.input_1 {
  float: right;
  padding: 1em;
}
.input_2 {
  float: left;
  padding: 1em;
}
.label_div {
  margin: 2em 2em 0 2em;
}
.scroll_bar {
  margin: 4em 0 0px 2em;
}
.btn_div {
  margin-left: 150px;
  align-items: center;
  justify-content: center;
  /* display: flex; */
}
.first_p {
  width: 145px;
  height: 300px;
  border: 3px solid white;
  overflow: auto;
  margin-top: 20px;
  padding: 0.5em 2.5em 0 0.5em;
  float: left;
}
.second_p {
  width: 145px;
  height: 300px;
  border: 3px solid white;
  overflow: auto;
  margin-top: 20px;
  margin-right: 38px;
  color: antiquewhite;
  padding: 0.5em 1.5em 0 1em;
  float: right;
}
button {
  border: none;
  background-color: transparent;
  color: antiquewhite;
  padding: 1px 8px 1px 8px;
  font-size: 17px;
}
